# Our own stuff
*~
programs/
models/
results/
results.csv
*.log
*.par
*.dat
*.ares
!batch.par
*.moog
results.out
result.out
summary.out
*.atm
mod?
fort.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
