# Our own stuff
*~
models/
results/
linelist/
rawLinelist/
spectra/
!rawLinelist/optical_cool.moog
!rawLinelist/optical_solar.moog
!rawLinelist/nir_solar.moog
!rawLinelist/coolNormalDiff.lines
results.csv
abundances.csv
logARES.txt
*.log
*.par
!batch.par
*.moog
*.out
*.atm
mod?
fort.*
mine.opt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
